body {
    margin: 0 30%;
}

nav {
    background-color: #F55A5A;
    padding: 5px 10px;
    height: 5vh;
}

img {
    width: 125px;
    height: 168px;
    border-radius: 5px;
}

.main {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.post {
    display: flex;
    margin: 51px 0;

}

